.errorBanner {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
